@use 'variables' as v;
@use 'mixins' as m;

.boletos{
    padding: 5rem 0;
    h3{
        text-align: center;
        color: v.$blanco;
        margin-bottom: 2rem;
    }

    .contenedor-boletos{
        @include m.tablet{
            @include m.grid(2, 5rem); 
        }
    }
}

.pase{
    color: black;

    .nombre-pase{
        text-align: center;
        font-size: 2.4rem;
        color: v.$blanco;
    }

    .pase-header{
        padding: .5rem; 
        background-color: v.$rosa;
        p{
            margin: 0;
            text-align: center;
            color: v.$blanco; 
            text-transform: uppercase;
            font-size: 1.6rem;
        }
    }
    .pase-body{
        background-color: v.$blanco;
        ul{
            @include m.resetear-lista;
            li, :nth-child(odd){ //odd = impares de la lista madre 
                background-color: v.$blanco;
                padding: 1rem;
                border-bottom: 1px solid #e1e1e1; 
            }
        }

    }
    .pase-footer{
        background-color: v.$morado;
        padding: .5rem;
        p{
            margin: 0; 
            text-align: center;
            color: v.$blanco; 
            font-size: 2.4rem;
            font-weight: 700;
        }
    }
}