@use 'variables' as v;

//Los mixins son similares a las funciones son bloques de código que luego puedes reutilizar constantemente en la app, ahorra tiempo
//Y se pueden programar para recibir parámetros y agregarle el comportamiento que se guste para cada caso

@mixin tlf{
    @media (width > 480px){
        @content; //Necesario para que no de error a la hora de aplicar el mixin en el header
    }
}

@mixin tablet{
    @media (width > 768px){
        @content; 
    }
}

@mixin pc{
    @media (width > 992px){
        @content; 
    }
}

@mixin pcXL{
    @media (width > 1200px){
        @content; 
    }
}

@mixin grid ($columnas, $espacio) {
    display: grid;
    grid-template-columns: repeat(($columnas), 1fr);
    gap: $espacio;
}

@mixin resetear-lista{
    margin: 0;
    padding: 0;
    list-style: none;
}