@use 'variables' as v;
@use 'mixins' as m;

.video{
    position: relative;
    max-height: 70rem; //Se le da una altura máxima al video para que no coja demasiada pantalla
    min-height: 50rem; //Tampoco nos interesa que sea menor a 50rem 
    overflow: hidden; //Eso hace que se desborde parte de una capa sobre otra, se arregla así 

    .overlay{
        position: absolute;
        background: rgb(156,9,247);
        background: linear-gradient(270deg, rgba(156,9,247,0.5) 0%, rgba(255,0,99,0.1) 100%);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; //Alinea verticalmente debido a flex -> column 
    }

    video{
        @include m.pc{
            width: 100%;
        }
        width: auto;
        display: block; //Recomendable siempre para videos y imagenes para que cuadren bien 

    }
}

.contenido-video{
    z-index: 10; //Es para ordenar capas, dándole un index de 10 nos aseguramos que la capa suba arriba del todo
    h2{
        color: v.$blanco;
        font-size: 7rem;
        margin: 0;
    }

    p{
        background-color: v.$rosa;
        display: inline-block; //Para que el bg-color solo tome el espacio que requiere
        padding: 1rem 2rem;
        color: v.$blanco; 
        font-weight: 700;
        font-size: 2.4rem;
        margin: 0; 
    }
}